{{/* code: language=toml */}}

{{- $isWSL := false -}}
{{- if (contains "microsoft" .chezmoi.kernel.osrelease) -}}
    {{- $isWSL = true -}}
{{- end -}}

{{- $isDocker := false -}}
{{- if (or (stat "/.dockerenv") (stat "/.dockerinit")) -}}
    {{- $isDocker = true -}}
{{- end -}}

sourceDir = "~/.config/.dotfiles"

[data]
    isWSL = {{ $isWSL }}
    isDocker = {{ $isDocker }}
    # 你也可以顺便定义一个更通用的远程开发标识
    isRemote = {{ or $isWSL $isDocker }}